footer{

    background-image: linear-gradient(to right,rgb(127, 171, 252), rgb(110, 21, 182));
    position:absolute;
         
            bottom: 0; 
            width: 100%; 
            /* Height of the footer*/  
            height: 60px; 
           

}