<main>
    <aside>
        <ul>
            <li>quick link</li>
            <li>quick link</li>
            <li>quick link</li>
            <li>quick link</li>
            <li>quick link</li>            
        </ul>
    </aside>
    <section>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est maxime non, rerum incidunt, nemo voluptatem qui ratione magni repellendus in error temporibus harum facere quaerat autem sunt rem dolorum. Minus.                
            </p>
        </article>
    </section>
</main>