<div class="card mt-2">
    <div class="card-body text-center fw-bold fs-2">
      Personal Information
    </div>
</div>
<div class="card mb-3 mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
            <h6 class="mb-0 fs-6">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ProfileData.username}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">  
                <h6 class="mb-0 fs-6">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ProfileData.email}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0 fs-6">Mobile</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ProfileData.contact}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0 fs-6">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ProfileData.address}}
            </div>
        </div>
         <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0 fs-6">Vehicle No.</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ProfileData.vehicleno}}
            </div>
        </div>
    
    </div>
</div>