<main>
  <div class="text-center">
    <a href="#" class="btn btn-primary m-3">Add Course</a>
  </div>
  <div id="cards">
    <div class="card" *ngFor="let c of courses">
      <img src="{{ c.url }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ c.id }}. {{ c.name }}</h5>
        <p class="card-text">
          Duration: {{ c.duration }} hours <br />
          Price: {{ c.price | currency: "INR" }} <br />
          Start Date: {{ c.startDate | date: "dd / MMM / yyyy" }} <br />
          {{ c.description }} <br />
        </p>
        <div class="text-center">
          <a href="#" class="btn btn-primary m-3">Update</a>
          <a href="#" class="btn btn-danger m-3">Delete</a>
        </div>
      </div>
    </div>
  </div>
</main>
