.carousel-inner img {
  width: 100%;
  max-height: 500px !important;
}
#cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card img {
  height: 200px;
}
.card-text {
  height: 50%;
}

.footer-heading1{
  padding: 0px;
}