@import '_disable';
@import '_error';


input{
    border-radius: 4px;  
    font-style:"SegoUI"; 
      height:36px;
      width: 300px;
       border:1px solid #ccc;
        
          font-size:13px;
           padding-left:10px;
             color:#666666;
               background-color:#ffffff; 
    }


   

