.button1 {
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  min-width: 110px;
  width: fit-content;
  font-family: "SegoeUI SemiBold";
  font-size: 16px;
}

//Primary button shall have following specifications:

.primary {
  @extend .button1;
  background-color: #74bd20;
  color: #ffffff;
  border: 1px solid #74bd20;
}

//Primary button on Hover shall have following classes:
.primary:hover {
  @extend .button1;
  background-color: #345805;
  color: #ffffff;
  border: 1px solid #345805;
}
//Primary button when disabled shall have following classes:

.primary:disabled {
  @extend .button1;
  background-color: #b6cca3;
  color: #c2acac;
  border: 1px solid #949e8b;
}

//Secondary Button shall have following classes in addition to base properties:
.secondary {
  @extend .button1;
  background-color: #ffffff;
  color: #3979ad;
  border: 1px solid #407eb1;
}

//Secondary button on hover shall have following classes:
.secondary:hover {
  @extend .button1;
  background-color: #155d97;
  color: #c2afaf;
  border: 1px solid #165d97;
}
//Secondary button when disabled shall have following classes:
.secondary:disabled {
  @extend .button1;
  background-color: #f3eded;
  color: #382626;
  border: 1px solid #301c1c;
}
