body{
  box-sizing: border-box;
}

// empty cart
.empty_cart_img{
  height:40%;
  width:60%;
 
}

$color-border: #eee;
$color-label: rgb(110, 110, 110);
$font-default: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-bold: 'Helvetica Neue Medium';
$label-size:16px;
$item-detail-size:18px;

/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width:14%; }
.product-price { float: left; width: 10%; }
.product-quantity { float: left; width: 17%; }
.product-removal { float: left; width: 17%; }
.product-line-price { float: left; width: 12%; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
    clear: both;
} 

.order_summary{
  font-size:23px;
}
/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}

label {
  color: $color-label;
}

/* Column headers */
.column-labels {
  label {
    font-size:$label-size;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  }


/* Product entries */
.product {
  font-size:$item-detail-size;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  
  .product-image {
    text-align: center;
    img {
      width: 98%;
    }
  }
    .product-title {
     font-family: $font-bold;
   }
    .remove-product {
     
    color: #fff;
    font-family: $font-bold;
   
    border-radius: 3px;
  }
  .remove-product:hover {
   opacity:1.0;
  }
}

.totals {
  .totals-item {
    
    label {
      float: left;
      clear: both;
      width:60%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 30%;
      text-align: right;
    }
  }

}
.home_address{
  word-spacing:0px;
}


.placeOrder {
  
   width:200px;
  border: 0;
  margin-top: 20px;
  background-color: #6b6;
  color: #fff;
  font-size:17px;
  border-radius: 5px;
  margin-left: 20%;
 
}

.placeOrder:hover {
  background-color: #494;
}

/* Make adjustments for tablet (min-width:501px) and */
// @media  (min-width:501px) and (max-width: 900px) {
  
//   .shopping-cart {
//     margin: 0;
//     padding-top: 20px;
//     border-top: 1px solid $color-border;
//   }
  
//   .column-labels {
//     display: none;
//   }
//   .placeOrder {
//     margin-left:20%;
//     width:300px;
//     padding: 15px 10px;
//   }
//   .product-image {
//     float: right;
//     width: auto;
//     img {
//       margin: 0 0 10px 10px;
//     }
//   }
  
//   .product-details {
//     float: none;
//     margin-bottom: 10px;
//     width: auto;
//   }
  
//   .product-price {
//     clear: both;
//     width: 70px;
//   }
  
//   .product-quantity {
//     width: 100px;
//     input {
//       margin-left: 20px;
//     }
//   }
  
//   .product-quantity:before {
//     content: 'x';
//   }
  
//   .product-removal {
//     width: auto;
//   }
  
//   .product-line-price {
//     float: right;
//     width: 70px;
//   }
  
// }


/* Make more adjustments for phone */
@media   (max-width: 500px) {
  .cart_container{
    margin-left: 20px!important;
  }

  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  
  .column-labels {
    display: none;
  }
  .placeOrder {
    margin-left:15%;
    width:200px;
    padding: 10px 10px;
  }
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    margin-right: 50px!important;
    width: 70px;
  }
  
}




/* confirmation modal for order*/
.modal-confirm {		
  margin: 50px auto;
}

.modal-confirm .modal-content {
padding: 20px;
border-radius: 5px;
border: none;
text-align: center;
}

.modal-confirm .modal-header {
border-bottom: none;   
position: relative;
}

.modal-confirm h4 {
text-align: center;
font-size: 26px;
margin: 30px 0 -10px;
}

.modal-confirm .close {
position: absolute;
top: 5px;
right: 2px;
}

.modal-confirm .modal-footer {
border: none;
text-align: center;		
border-radius: 5px;
font-size: 13px;
padding: 10px 15px 25px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
color: #fff;
text-decoration: none;
transition: all 0.4s;
line-height: normal;
min-width: 120px;
border: none;
min-height: 40px;
border-radius: 3px;
margin: 0 5px;
}
