<div class="container">
    <div class="main-body">
        <div class="row gutters-sm mt-2 ms-1">
            <div class="col-md-4 mb-3">
              <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                     
                      <button class="btn btn-outline-primary">Edit Profile</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
                <mat-tab-group>
                   <mat-tab >
                    <ng-template mat-tab-label >
                        <mat-icon>perm_identity</mat-icon>
                    Profile
                </ng-template>
                    <app-view-profile></app-view-profile>    
                    </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> 
                        <app-profile-graph></app-profile-graph>    
                    </mat-tab>
                  </mat-tab-group>
             
    </div>
</div>    