@import '/src/app/scss/variables';

.rating {
    border: none;
    outline:none;
}

.star {
    position: relative;
    display: inline-block;
    color: $default-star-color;
}

.full {
    color: $star-color;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: $star-color;
}