<form action="" #imageForm='ngForm' (submit)="addImage(imageForm)">
   
   <table>
       <tr>  
        <td>  Image Name:</td>
       <td> <input type="text" #imgName='ngModel'[(ngModel)]="newImage.imgName" name="imgName" required></td>
       <td>
         
            <span *ngIf='!imgName.valid && imgName.touched'>  
           <span *ngIf='imgName.errors?.required'>
               Name is required
           </span>
       </span>
    </td>
    </tr>
 <tr>  
      <td> 
        Image Src:</td>
    <td>  <input type="text"[(ngModel)]="newImage.imgSrc" name="imageSrc"></td>

 </tr>
   <tr>
        <td> 
        Image Category:</td>
    <td>    <input type="text" #imgCategory='ngModel'[(ngModel)]="newImage.imgCategory" name="imgCategory"></td>
    <td>
          <!-- <span *ngIf='!imgCategory.valid && imgCategory.touched'>  
           <span *ngIf='imgCategory.errors?.required'>
               Name is required
           </span>
       </span> -->
    </td>
</tr>


  <tr> 
    <td> 
        Image Description:</td>
    <td>    <input type="text"[(ngModel)]="newImage.imgDescription" name="imgDescription"></td>
  </tr>


  <tr>  

    <td> 
        Image Id:</td>
    <td>    <input type="text" #imgId= 'ngModel'[(ngModel)]="newImage.imgId" name="imgId"  pattern="[0-9]{3}" required></td>
    <td>
        <!-- {{ imgId.valid }} -->
        <span *ngIf='! imgId.valid'>  
          
              Not in Correct Format
        
       </span>
    </td>
</tr>
<br>
  <tr>
 
      <td><input type="submit" value="Add"></td>
    <td><input type="reset" value="Reset"></td> </tr>
    
 


   

</table>
</form>
