img{
    height:300px;
    width:400px;
    margin-left:10%;
    margin-top:5%;
}
p{
  font-weight: 600;
    margin-left:10%;
}
.container{
    margin-left:20%;
   
    border:2px solid black;
    height:100%;
    width:50%;
}