
<div class="container">

<img class="card-img-top" [src]='imgSrc' alt="Card image cap">
<p> {{imageId}}</p>
<p>{{imgName}}</p>
<br>
<br>
</div>
<!-- <div class="image-container">
  
   
    <div *ngIf='images && images.length' class="row cards">
        <div class="card " style="width: 18rem;" *ngFor="let img of images">
            <img class="card-img-top" [src]='img.imgSrc' alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{img.imgName}}</h5>
            <p class="card-text">{{img.imgDescription}}</p>
            <a href="#" class="btn btn-primary" >{{img.imgCategory}}</a>
            <a href="#" class="btn btn-primary details" >Details</a>
            </div>
        </div>
    </div>
   
   </div>
  -->
