<div class="mb-4">
    <h1 class="">profile editor</h1>
    <form [formGroup]="editForm"  >
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control"  formControlName="uname" placeholder="enter username" >
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Email</label>
            <input type="text" class="form-control"  formControlName="uemail" placeholder="enter email">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Phone</label>
            <input type="text" class="form-control"  formControlName="uphone" placeholder="enter phone">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">address</label>
            <textarea class="form-control"  formControlName="uaddress" placeholder="enter 1st address"  readonly ></textarea>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">image</label>
            <textarea class="form-control"  formControlName="uimg" placeholder="add image src"></textarea>
        </div>
        <button class="btn btn-danger" value="edit" (click)='onSubmit()'>Save</button>
        
    </form>
</div>