// Colors

// Rating Component
$star-color: #ffc107;
$default-star-color: #d3d3d3;

//Login Component
$border-form-color: 2px solid rgb(131, 120, 120);
$login-logo-width: 80px;
$login-logo-background-color: white;
$login-logo-transform: translate(0, -40px);
$login-logo-padding: 10px;
$login-border-radius: 50%;
$login-margin-top: -30px;
$login-user-height: 169px;
$login-max-width: 600px;
$login-border: 1px solid #9C9C9C;
$login-background-color: cornsilk;

//Footer Component
$footer-height: 50px;
$footer-width: 100%;
$footer-color: #ecf0f1;
$foote-font-size: 15px;

//header Component
$header-icart-color: rgb(255, 221, 205);
$header-border: 2px solid rgb(153, 153, 153);
$header-padding: 10px;
$header-background-color: darkorchid;
$header-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$header-font-weight: 500;

//user signup comonent
$signup-form-padding: 15px;
$signup-formb-bgcolor: rgba(165, 229, 245, 0.712);
$signup-container-margin-bottom: 15%;
$signup-border-form-color: rgb(131, 120, 120);
$signup-container-padding: 80px 0;
$signup-invalid-color: #dc3545;
$signup-invalid-width: 100%;
$signup-invalid-margin-top: .25rem;
$signup-logo-width: 80px;
$signup-logo-transform: translate(0, -60px);
$signup-logo-background-color: white;
$signup-logo-padding: 10px;
$signup-logo-border-radius: 50%;
$signup-logo-border: 2px solid $signup-border-form-color;
$signup-margin-top: -45px;
$star-color: #ffc107;
$default-star-color: #d3d3d3;

//Delivery-details component
$deliveryOrderList_card_color: rgb(247, 250, 243);
$deliveryOrderList_card_border: cadetblue;
$acceptedOrderList_border: rgba(247, 139, 139, 0.734);
$acceptedOrderList_card: rgba(255, 247, 247, 0.734);
$delContainer_color:  rgb(237, 244, 255);

