div{
    background-color: rosybrown;
    height:200px;
    width:200px;
    box-shadow:10px 10px  rebeccapurple;
    transition:width 3s;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}
div:hover{
    background-color: royalblue;
    width: 400px;
    height:400px;
}