.empty_cart_img{
    height:10%;
    width:50%;
   
}
.btn_go_back{
    border: 1px solid rgb(226, 107, 60);
    margin-top:20px!important;
    border-radius:30%;
    width: 20%;
}
.order_summary{
    font-size:large;
    font-weight:500;
}
.order{
    width: 50%;
}