.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
   
    padding: 15px;
  }
  .grid-item {
    background-color: rgba(224, 210, 77, 0.651);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }