
.container{
    
    background:url("1.jpg") no-repeat fixed 100% #99FFCC; 
    
  /* background-size:cover;*/
   /*background-size:contain;*/

    height:300px;
  
 }
 /*
@media all and (max-width:480px){
 
      div{
          color: red;
      }

}
@media all and (min-width:481px) and (max-width:800px){

    
    .container{
        background-color:green;
    }    
}

    @media all and (min-width:801px) and (max-width:1200px){
    
        
        .container{
            background-color:rgba(205, 216, 55, 0.685);
        }   

}