div{
    height:100px;
    width:100px;
    border: solid 2px black;
    
    position: absolute;
}

/*div.o,div.s,div.t{
    background-color:tomato;
}*/

div.o{
    top:10px;
    left:10px;
    background-color: blue;
    z-index: 10;
}
div.s{
    top:10px;
    left:50px;
    background-color:red;
   
}
div.t{
    top:50px;
    left:10px;
    background-color:yellow
}