<main>
  <div id="cards">
    <div class="card" style="width: 18rem">
      <img
        src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?cs=srgb&dl=pexels-binyamin-mellish-106399.jpg&fm=jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Python</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetu consectetur perferendis
          temporibus quam aut tempore suscipit saepe excepturi odio magni enim?
        </p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Update</a>
          <a href="#" class="btn btn-danger mt-2">Delete</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/brewster-mcleod-architects-1486154143.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Java</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetu consectetur perferendis
          temporibus quam aut tempore suscipit saepe excepturi odio magni enim?
        </p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Update</a>
          <a href="#" class="btn btn-danger mt-2">Delete</a>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="https://cf.bstatic.com/images/hotel/max1024x768/137/137262930.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Angular</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetu consectetur perferendis
          temporibus quam aut tempore suscipit saepe excepturi odio magni enim?
        </p>
        <div class="text-center">
          <a href="#" class="btn btn-primary mt-2">Update</a>
          <a href="#" class="btn btn-danger mt-2">Delete</a>
        </div>
      </div>
    </div>
  </div>
</main>
