<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="emp" class="com.cybage.Employee" autowire="constructor"
		scope="singleton" init-method="myInit" destroy-method="myDestroy"
	>
		<constructor-arg name="id" value="234" /> 
		<constructor-arg name="name" value="dm234" /> 
		<constructor-arg name="skills">
			<list>
				<value>java</value>
				<value>javascript</value>
				<value>angular</value>
				<value>aws</value>
				<value>react</value>
			</list>
		</constructor-arg>
	</bean>
	<bean  class="com.cybage.Address">
		<property name="pin" value="411046" /> 
		<property name="location" value="katraj"/> 
	</bean>

</beans>