#student {
    
    width: 50%;
    margin-left: 30%;
    margin-top:20px;
    font-family:sans-serif;
    border-collapse: collapse;
  }
  
  #student th {
    padding-top: 12px;
    padding-bottom: 12px;
   
    background-color:rgb(216, 214, 214);
    color:black;
    text-align: left;
  
   
  }
  #student td, #student th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #student tr:nth-child(even){background-color:lightgreen;}
  
  #student tr:hover {background-color: #ddd;}
  
