body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  font-size: xx-large;
}
header div {
  float: right;
}
nav ul {
  padding-left: 0px;
}

nav li {
  list-style: none;
  display: inline;
  border-right: 1px solid #000;
  padding-right: 1%;
  padding-left: 1%;
}
nav li:last-child {
 
  border: none;
}
nav ul li a{
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  color: red;
}
p#heading {
  text-align: center;
  font-size: 200%;
}
p#loc {
  margin-bottom: 2%;
}
.cards {
  column-width: 214px;
  margin: 5%;
}
.card img {
  max-width: 100%;
}
.card {
 
  display: inline-block;
  width: 250px;
  border: 1px solid#707070;
  margin: 0px 5px 15px;
}
.card #tilte {
  font-size: 120%;
}
.card p {
  padding-left: 5%;
  padding-right: 5%;
}
div#page-button {
  margin-left: 5%;
}
#page-button button {
  border: 1px solid#707070;
  width: 3%;
  height: 3%;
}
#page-buttonbutton :hover {
  border: 1px solid #353030;
}
#footer {
  margin-left: 5%;
}
#footer input {
  margin: 5px;
  width: 50px;
  display: inline;
}
#footer p {
  float: right;
}
